# ======================================
# Backend
# ======================================
apps/backend/node_modules/
apps/backend/uploads/
apps/backend/.env
apps/backend/*.pid
# Printer Microservice
apps/Fenix.PrinterService/bin/
apps/Fenix.PrinterService/obj/

# ======================================
# Frontend
# ======================================
apps/webapp/node_modules/

# ======================================
# Globals
# ======================================
node_modules/
.env
*.log
*.pid
*.pid.lock

# Archivos de compresión
*.zip
*.rar

# Editors
.vscode/
.idea/

# SO temporales
.DS_Store
Thumbs.db
desktop.ini
